<!-- Home -->

<div class="home" style="margin-bottom: 20px">
  <div class="home_background_container prlx_parent">
    <div class="home_background prlx" style="background-image:url(assets/images/slider_background.jpg)"></div>
  </div>



  <div class="next_section_scroll">
    <div class="next_section nav_links" data-scroll-to=".icon_boxes">
      <i class="fas fa-chevron-down trans_200"></i>
      <i class="fas fa-chevron-down trans_200"></i>
    </div>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
    <div class="card mb-3" routerLink="/episodes">
      <img src="http://col3negoriginal.lk/videoimg/1637652900.jpg" alt="">

      <div class="card-body" style="padding: 10px" >
        <p class="card-title">KOTIPATHIYO</p>
        <a href="#" class="btn btn-primary">VIEW</a>
      </div>
    </div>
  </div>
    <div class="col-md-3">
      <div class="card mb-3" routerLink="/episodes">
        <img src="http://col3negoriginal.lk/videoimg/2134181402.jpg" alt="">

        <div class="card-body" style="padding: 10px" >
          <p class="card-title">OBATH MAMATH AYATH</p>
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-3" routerLink="/episodes">
        <img src="https://i.ytimg.com/vi/zQqlH4v6hUY/hqdefault.jpg?sqp=-oaymwEXCPYBEIoBSFryq4qpAwkIARUAAIhCGAE=&rs=AOn4CLCAfebGe9GLxAKLZduztbdUps8qJg" alt="">

        <div class="card-body" style="padding: 10px" >
          <p class="card-title">OBATH MAMATH AYATH</p>
          <a href="#" class="btn btn-primary">VIEW</a>
        </div>
      </div>
    </div>
  </div>
</div>
