<div class="container">
  <div class="col-sm-12">
    <!-- Home -->

    <div class="home" style="margin-bottom: 20px">
      <div class="home_background_container prlx_parent">
        <div class="home_background prlx" style="background-image:url(https://s1-ssl.dmcdn.net/pt1Tk.jpg)"></div>
      </div>

      <div class="home_title">
        <h2>KOTIPATHIYO</h2>
        <div class="next_section_scroll">
          <div class="next_section nav_links" data-scroll-to=".service_boxes">
            <i class="fas fa-chevron-down trans_200"></i>
            <i class="fas fa-chevron-down trans_200"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-sm-3" *ngFor="let video of a.items">
        <div class="card mb-3">
          <img src="http://col3negoriginal.lk/videoimg/1637652900.jpg" alt="">

          <div class="card-body" style="padding: 10px" >
            <p class="card-title ">{{video.snippet.title }}</p>
            <a href="#" class="btn btn-primary">VIEW</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <button (click)="nextPage()" class="btn btn-info">NEXT</button>
</div>
